<ion-view view-title="Facebook Example">
    <ion-content>
        <div class="padding">
          <h1>Facebook Oauth</h1>
            <p>
                Clicking the above button will initiate an official browser sign in flow with Facebook.  You
                will be redirected to the Facebook website to enter your credentials.
            </p>
            
            <br>
            <button ng-click="login()" class="button button-block button-positive">
              Sign In
            </button>
        </div>
    </ion-content>
</ion-view>